<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Define a target that writes to daily log files -->
    <target xsi:type="File" name="dailyFile" fileName="${logDirectory}/${date:format=yyyy-MM-dd}.log" 
            layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception}" 
            archiveNumbering="Date" 
            archiveAboveSize="10485760" 
            archiveEvery="Day" 
            maxArchiveFiles="30" 
            encoding="utf-8" />
  </targets>
  <rules>
    <!-- Log all messages from Debug level and above to the daily file -->
    <logger name="*" minlevel="Debug" writeTo="dailyFile" />
  </rules>
</nlog>
