<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Log to a file -->
		<target name="file" xsi:type="File" fileName=".\Logs\RadarApp.log" />
		<!-- Log to the console -->
		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<!-- Log all messages of Level Debug and above -->
		<logger name="*" minlevel="Debug" writeTo="file,console" />
	</rules>
</nlog>
